version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mememind-api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    # env_file:
    #   - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload
